.gif {
  height: 300px;
  padding-bottom: 1rem;
  /* margin-left: 100px;
  margin-top: -4rem; */
}

@media (max-width: 485px) {
  .gif {
    /* margin-left: 20px; */
    height: 250px;
    padding: 1.2rem 0;
  }
}
