/* @import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Inter:wght@100..900&family=Joti+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Inter:wght@100..900&family=Joti+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.home {
  /* margin: auto; */
  height: 100vh;
  width: 100%;
}

.pt-nine {
  padding-top: 9rem;
}

.container {
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.hero-text {
  font-family: "Joti One", serif;
  font-size: 75px;
  font-weight: 500;
  color: #ec4899;
  opacity: 0.8;
}

.description {
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  opacity: 0.8;
  /* margin: 0.8rem 0; */
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

button {
  width: 90px;
  height: 40px;
  border: none;
  opacity: 0.8;
  background: black;
  color: #fff;
  font-weight: 500;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

button:hover {
  background: #fff;
  color: black;
}

@media (max-width: 1077px) {
  .home {
    padding-bottom: 10rem;
  }

  .hero-text {
    font-size: 72px;
    line-height: 1;
  }

  .pt-nine {
    padding-top: 10rem;
  }
}

@media (max-width: 485px) {
  body {
    overflow-x: hidden;
  }

  .hero-text {
    font-size: 50px;
  }

  .description {
    padding-top: 1rem;
  }

  .home {
    overflow: hidden;
    padding-bottom: 0;
  }

  .pt-nine {
    padding-top: 6rem;
  }
}
