.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-bl-b-gr {
  background: #38b000;
  color: #fff;
}

.span-text {
  font-size: 1rem;
  font-weight: 600;
}

.del-icon {
  color: red;
  font-size: 1.8rem;
  margin-left: 1rem;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
